
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- AOS Scroll Animations -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='NHLmain.css') }}">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Favicon link -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Recurly Information -->
    <script src="https://js.recurly.com/v4/recurly.js"></script>
    <link href="https://js.recurly.com/v4/recurly.css" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>NHL Stats</title>

</head>


<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark">
      <div class="container" id="header-container">
        <a class="navbar-brand mr-4" href="/" id="main-nav-bar">Jonathan's NHL Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('main.nhl_stats') }}">NHL Stats</a>
            <a class="nav-item nav-link" href="{{ url_for('main.todays_players') }}">Today's Players</a>
            <a class="nav-item nav-link" href="{{ url_for('main.stamkostweets') }}">Stamkos Tweets</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav" id="right-nav-bar">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
              <a class="nav-item nav-link" id="register-logout-button" href="{{ url_for('users.logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
              <a class="nav-item nav-link" id="register-logout-button" href="{{ url_for('users.register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- If there are messages to show, show them -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <main role="main" class="container">
    {% block content %}{% endblock %}

    <script type="text/javascript">
      AOS.init({
        duration: 3000,
      });
    </script>

    <script>
      // Configure recurly.js
      recurly.configure({
        publicKey: 'ewr1-CfT1hBCpSAKJdVwz5a48A1', // Set this to your own public key
        style: {
          all: {
            fontFamily: 'Roboto',
            fontSize: '1rem',
            fontWeight: '100',
            fontColor: '#ffffff'
          }
        }
      });

      // When a customer hits their 'enter' key while in a field
      recurly.on('field:submit', function (event) {
        $('form').submit();
      });

      // On form submit, we stop submission to go get the token
      $('form').on('submit', function (event) {

        // Prevent the form from submitting while we retrieve the token from Recurly
        event.preventDefault();

        // Reset the errors display
        $('#errors').text('');
        $('input').removeClass('error');

        // Disable the submit button
        $('button').prop('disabled', true);

        var form = this;

        // Now we call recurly.token with the form. It goes to Recurly servers
        // to tokenize the credit card information, then injects the token into the
        // data-recurly="token" field above
        recurly.token(form, function (err, token) {

          // send any errors to the error function below
          if (err) error(err);

          // Otherwise we continue with the form submission
          else form.submit();

        });
      });

      // Reconfigure font size based on window size
      $(window).on('resize init', function (event) {
        if ($(this).width() < 600) {
          recurly.configure({
            style: {
              all: {
                fontSize: '0.9rem'
              }
            }
          });
        } else {
          recurly.configure({
            style: {
              all: {
                fontSize: '1rem'
              }
            }
          });
        }
      }).triggerHandler('init');

      // A simple error handling function to expose errors to the customer
      function error (err) {
        $('#errors').text('The following fields appear to be invalid: ' + err.fields.join(', '));
        $('button').prop('disabled', false);
        $.each(err.fields, function (i, field) {
          $('[data-recurly=' + field + ']').addClass('error');
        });
      }

      // runs some simple animations for the page
      $('body').addClass('show');
    </script>

  </main>

  <footer class="footer">
    <div class="text-muted">Made with care by Jonathan Olson</div>
    <div class="text-muted">2019</div>
  </footer>


</body>
</html>
