

{% extends "layout.html" %}
{% block content %}
  <div class="container" id="primary-container">
      <div class="bg-text">
    <h1>NHL Stats</h1>
    <h2 data-aos="fade-right">Top Goal Scorers To date</h2>
    <hr data-aos="fade-left"/>
    <div class="table-responsive" data-aos="fade-up">
        {{myDF | safe}}
    </div>
    <br/>
    <h2 data-aos="fade-right">Games Since -- Longest Goal Droughts</h2>
    <hr data-aos="fade-left"/>
    <div class="table-responsive" data-aos="fade-up">
      {{gamesSinceDF | safe}}
    </div>
    <br/>
    <h2 data-aos="fade-right">Last Time -- Date of Last Goal, Assist, Etc.</h2>
    <hr data-aos="fade-left"/>
    <div class="table-responsive" data-aos="fade-up">
      {{lastTimeDF | safe}}
    </div>
    </div>
  </div>
{% endblock content %}
