{% extends "layout.html" %}
{% block content %}

<!-- Add JS configuration for recurly -->
<script type="text/javascript">
  recurly.configure({
  publicKey: 'ewr1-LcPWTh1YMo8cAhlir0Z0Vg',
  fields: {

    // affects the combined card field
    card: {
      displayIcon: true,
      style: {
        fontSize: '1em',
        placeholder: {
          color: 'gray !important',
          fontWeight: 'bold',
          content: {
            number: 'Card number',
            cvv: 'CVC'
          }
        },
        invalid: {
          fontColor: 'red'
        }
      }
    },

    // affects individual card field types
    number: {
      // Custom target selector
      selector: '#recurly-number',
      // Format the card number
      format: true
    },
    month: {
      // Display a month select on mobile devices
      inputType: 'mobileSelect',
      style: {
        placeholder: {
          content: 'MM'
        }
      }
    },
    year: {
      style: {
        placeholder: {
          content: 'YYYY'
        }
      }
    },
    cvv: {}
  }
});
</script>

<!-- Create a Credit Card Submission form -->
<!-- Copied from https://dev.recurly.com/docs/recurly-js-getting-started -->
<div class="container">
  <form>
    <label class="form-control-label" for="first_name">First Name</label>
    <input type="text" data-recurly="first_name">
    <label class="form-control-label" for="last_name">Last Name</label>
    <input type="text" data-recurly="last_name">
    <div data-recurly="card"></div>
    <input type="hidden" name="recurly-token" data-recurly="token">
    <label class="form-control-label" for="address1">Address</label>
    <input type="text" data-recurly="address1">
    <label class="form-control-label" for="address2">Address (cont.)</label>
    <input type="text" data-recurly="address2">
    <label class="form-control-label" for="city">City</label>
    <input type="text" data-recurly="city">
    <label class="form-control-label" for="state">State/label>
    <input type="text" data-recurly="state">
    <label class="form-control-label" for="postal_code">Postal Code</label>
    <input type="text" data-recurly="postal_code">
    <label class="form-control-label" for="country">Country</label>
    <input type="text" data-recurly="country">
    <label class="form-control-label" for="phone">Phone</label>
    <input type="text" data-recurly="phone">
    <button>Submit</button>
  </form>
</div>

{% endblock content %}
