{% extends "layout.html" %}
{% block content %}

<!-- Add JS configuration for recurly -->
<script type="text/javascript">
  recurly.configure({
  publicKey: 'ewr1-LcPWTh1YMo8cAhlir0Z0Vg',
  fields: {

    // affects the combined card field
    card: {
      displayIcon: true,
      style: {
        fontSize: '1em',
        placeholder: {
          color: 'gray !important',
          fontWeight: 'bold',
          content: {
            number: 'Card number',
            cvv: 'CVC'
          }
        },
        invalid: {
          fontColor: 'red'
        }
      }
    },

    // affects individual card field types
    number: {
      // Custom target selector
      selector: '#recurly-number',
      // Format the card number
      format: true
    },
    month: {
      // Display a month select on mobile devices
      inputType: 'mobileSelect',
      style: {
        placeholder: {
          content: 'MM'
        }
      }
    },
    year: {
      style: {
        placeholder: {
          content: 'YYYY'
        }
      }
    },
    cvv: {}
  }
});
</script>

<div class="container">
  <h2>Subscribe to JonathanOlson.us</h2>
</div>

<br>
<br>

<hr>

<br>
<br>

<!-- Create a Credit Card Submission form -->
<!-- Copied from https://dev.recurly.com/docs/recurly-js-getting-started -->
<form>
  <div class="tweet-container">
    <div class="recurly-box">
      <br>
        <label class="form-control-label" for="first_name">First Name</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="first_name">
      <br>
      <br>
        <label class="form-control-label" for="last_name">Last Name</label>
      <br>
	      <input class="form-control form-control-lg" type="text" data-recurly="last_name">
      <br>
        <div data-recurly="card"></div>
      <input type="hidden" name="recurly-token" data-recurly="token">
    </div>
    <br>
    <div class="recurly-box">
        <label class="form-control-label" for="address1">Address</label>
      <br/>
        <input class="form-control form-control-lg" type="text" data-recurly="address1">
      <br/>
      <br>
        <label class="form-control-label" for="address2">Address (cont.)</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="address2">
      <br>
      <br>
        <label class="form-control-label" for="city">City</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="city">
      <br>
      <br>
        <label class="form-control-label" for="state">State</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="state">
      <br>
      <br>
        <label class="form-control-label" for="postal_code">Postal Code</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="postal_code">
      <br>
      <br>
        <label class="form-control-label" for="country">Country</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="country">
      <br>
      <br>
        <label class="form-control-label" for="phone">Phone</label>
      <br>
        <input class="form-control form-control-lg" type="text" data-recurly="phone">
      <br>
      <br>
      <br>
    </div>
    <button class="btn btn-outline-warning" id="subscribe">Submit</button>
  </div>
</form>

{% endblock content %}
