/* 
#F8E9A1 -- Yellow
#F76C6C -- Pink
#A8D0E6 -- Light Blue
#374785 -- Blue
#24305E -- Dark Blue
*/

body {
  background: #A8D0E6;
  color: #24305E;
  padding-top: 6.5rem;
  font-weight: 600;
}

#main-nav-bar {
  color: #24305E;
  font-weight: 600;
  font-size: 2.3rem;
  background: #F76C6C;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #374785;
}

.site-header .navbar-nav .nav-link {
  color: #428bca;
  font-size: 1.2rem;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#logout-button {
  color: #F76C6C;
  background-color: #374785;
  border-radius: 10px;
  font-weight: 500;
}

#register-button {
  color: #F76C6C;
  background-color: #374785;
  border-radius: 10px;
  font-weight: 500;
}

#header-container {
  font-size: 7rem;
  margin: .20rem;
  background: #A8D0E6;
}

.navbar {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: #A8D0E6;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


