

body:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url('../static/images/uqebOQJ.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  filter: blur(2px) brightness(0.5);
  z-index: -9;
  transform: scale(1.1);
  font-family: 'Roboto', sans-serif;
}

body {
  color: #CCCCCC;
}

* {
  box-sizing: border-box;
}

/*
body {
	background: url('../static/images/uqebOQJ.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#333;
  color: #cccccc;
  font-weight: 200;
  font-family: 'Open Sans';
}
*/

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-weight: 100;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3em;
}

h2 {
  text-align: center;
}

h2.todays-players-heading {
  font-size: 1.4em;
}

td {
  border: none;
  text-align: center; 
  vertical-align: middle;
  word-wrap: none;
  white-space: nowrap;
}

th {
  border: none;
  text-align: center; 
  vertical-align: middle;
  word-wrap: none;
  white-space: nowrap;
  border-right: #CCCCCC;
}

th:hover {
  text-transform: uppercase;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.stat-table th {
  background-color: transparent;
  color: #CCCCCC;
  font-weight: 300;
  border: none;
  text-align: center;
}

/* Make empty header cells (i.e., above the players' names) the same background as the body */
.stat-table th:empty {
  background: transparent;
  width: 200px;
  min-width: 200px;
  border: none;
}

tr {
  line-height: 10px;
}

tr:hover {
  background-color: rgba(248, 218, 86, 0.712);
}

hr {
  width: 80%;
  background-color: #CCCCCC;
}


strong {
  font-size: 140%;
  color: rgba(248, 218, 86, 0.712);
}

#main-nav-bar {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 2.3rem;
  padding: 7px 14px;
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  border-color: #cccccc;
  border-width: 2px;

}

#register-logout-button {
  color: #cccccc;
  border-radius: 2px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  margin-right: 0px;
}

#register-logout-button:hover {
  color: rgba(248, 218, 86, 0.712);
  border-color: rgba(248, 218, 86, 0.712);
}

#header-container {
  font-size: 7rem;
  margin: .8rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

#navbarToggle {
  padding-right: 0px;
  font-weight: 100;
  color: #CCCCCC;
}

.container {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.site-header .navbar-nav .nav-link {
  color: #CCCCCC;
  font-size: .17em;
  margin: 7px;
}

.site-header .navbar-nav .nav-link:hover {
  color: rgba(248, 218, 86, 0.712);
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar {
  padding: 0rem 0rem 0rem 0rem;
  background: transparent;
  position: relative;
  top: 0%;
  width: 100%;
  z-index: 2;
}

.nav-item .nav-link {
  padding: 10px 10px;
}

.navbar-collapse {
  color: #CCCCCC;
  z-index: 2;
}

.stat-table {
  border: none;
  justify-items: center;
  color: #CCCCCC;
}

.stamkos-image {
  height: auto;
  width: 70%;
  opacity: 0.7;
  box-shadow: 0 0 8px 8px black inset;
}

.stamkos-div {  
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #CCCCCC;
  padding: 1em;
  text-align: center;
  display: block;
  border-radius: 2px;
}

.todays-players {
  width: 49.9%;
  height: 100%;
  line-height: 13.5em;
  text-align: center;
  font-size: 2.5em;
  color: #cccccc;
  display: table-cell;
  padding: .1em;
}

.vertical-line {
  width: 0.1%;
  min-width: 1px;
  display: table-cell;
  background-color:#CCCCCC;
  height: 100%;
}

.player-wrapper {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

::-webkit-scrollbar-track {
	border: 1px solid black;
	background-color: #333333;
}

::-webkit-scrollbar {
  height: 5px;
  width: 8px;
	background-color: rgba(248, 218, 86, 0.712);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(248, 218, 86, 0.712);	
}
