

{% extends "layout.html" %}
{% block content %}
    <h1>NHL Stats</h1>
    <h2>NHL Top Scorer To date: {{ importantStats['Top Scorer'] }}</h2>
    <h3>Second Through Fifth Top Scorers:
      <ul>
        <li>{{ importantStats['Second Top Scorer'] }}</li>
        <li>{{ importantStats['Third Top Scorer'] }}</li>
        <li>{{ importantStats['Fourth Top Scorer'] }}</li>
        <li>{{ importantStats['Fifth Top Scorer'] }}</li>
      </ul>
    </h3>
    <div>
        <!-- {{ htmlMyDF }} -->
    </div>

    <label>Age</label>
    <input  type="number" name="age" value="30"> 

    <label>Age</label><label>Age</label><label>Age</label>
{% endblock content %}
