{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="bg-text">

    <div class="player-wrapper">
        <div class="todays-players">
            <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
        </div>
        <div class="vertical-line" data-aos="fade-up"></div>
        <div class="todays-players">
            <span data-aos="fade-left">
                <strong>{{ todaysDroughts['G'].index[0] }}</strong> <br>hasn't scored in the most games <br> - <strong>{{ todaysDroughts['G']['G'][0] }}</strong> - <br>since his last game on <br><strong>{{'NOT ENTERED' }}</strong>.
            </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['A'].index[0] }}</strong> <br>hasn't recorded an assist in the most games, <br><strong>{{ todaysDroughts['A']['A'][0] }}</strong>, <br>since his last game on <br><strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['+'].index[0] }}</strong> hasn't had a positive rating in the most games, <strong>{{ todaysDroughts['+']['+'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['-'].index[0] }}</strong> hasn't had a negative rating in the most games, <strong>{{ todaysDroughts['-']['-'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['PIM'].index[0] }}</strong> hasn't had a penalty in the most games, <strong>{{ todaysDroughts['PIM']['PIM'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['EV'].index[0] }}</strong> hasn't scored an even-strength goal in the most games, <strong>{{ todaysDroughts['EV']['EV'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['PP'].index[0] }}</strong> hasn't scored a power play goal in the most games, <strong>{{ todaysDroughts['PP']['PP'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['SH'].index[0] }}</strong> hasn't scored a shorthanded goal in the most games, <strong>{{ todaysDroughts['SH']['SH'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['GW'].index[0] }}</strong> hasn't scored a game-winning goal in the most games, <strong>{{ todaysDroughts['GW']['GW'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    <div class="player-wrapper">
                <div class="todays-players">
                    <span data-aos="fade-right"> Of the <br><strong>{{ numberOfPlayersToday }}</strong> <br>players playing today,</span>
                </div>
                <div class="vertical-line" data-aos="fade-up"></div>
                <div class="todays-players">
                    <span data-aos="fade-left">
                        <strong>{{ todaysDroughts['S'].index[0] }}</strong> hasn't had a shot in the most games, <strong>{{ todaysDroughts['S']['S'][0] }}</strong>, since his last game on <strong>{{ 'NOT ENTERED' }}</strong>.
                </span>
        </div>
    </div>

    <hr data-aos="fade-up">

    </div>

{% endblock content %}